.button {
  width: auto;
  margin: auto;
}

#buttons_div {
  display: flex;
  justify-content: center;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#check_button {
  position: absolute;
  top: 0;
  right: 20px;
}

@media screen and (max-device-width: 480px),
  (min-width: 768px) and (max-width: 1024px) {

  #buttons_div {
    display: flex;
    justify-content: space-around;
  }

  #check_button {
    position: inherit;
  }

  .box:last-of-type {
    gap: 2.5vh;
  }
}
